.game-container{
     margin: auto;
     width: 500px;
     height: 500px;
     padding-top: 15px;
     padding-left: 15px;
     padding-bottom: 15px;
     background: rgb(187,173,160);
     border-radius: 7px;
     line-height: 500px;
}

.game-container-finish{
     width: 500px;
     height: 500px;
     padding-top: 15px;
     padding-left: 15px;
     padding-bottom: 15px;
     background: rgb(187,173,160);
     border-radius: 7px;
     line-height: 500px;
     font-size: 70px;
     position: absolute;
     text-align: center;
     margin-left: -15px;
     margin-top: -15px;
     opacity: 0.6;
}

.game-container-row{
     float: left;
     margin: auto;
     margin-bottom: 15px;
}

.game-container-cell{
     float: left;
     margin-right: 15px;
     margin-bottom: 15px;
     line-height: 106px;
     width: 106px;
     height: 106px;
     background: rgb(205,193,180);
     border-radius: 3px;
}

.game-container-cell-digit{
     float: left;
     margin-right: 15px;
     margin-bottom: 15px;
     width: 106px;
     height: 106px;
     line-height: 106px;
     background: rgb(238,228,218);
     border-radius: 3px;
     text-align: center;
     font-weight: bold;
     font-size: 60px;
     opacity: 0.9;
}

.btn-game{
     font-size: 30px;
}

.game-container-results{
     text-align: center;
     margin-left: 5px;
     width: 48%;
     float: left;
     border-radius: 5px;
     background-color: rgb(187,173,160);
}

.game-container-results-title{
     padding-top: 5px;
     padding-bottom: 5px;
     font-size: 15px;
     color: rgb(238,228,218);
     font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.game-container-results-value{
     padding-top: 5px;
     padding-bottom: 5px;
     font-size: 20px;
     color: #FFFFFF;
     font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.game-container-results-button{
     text-align: center;
     width: 100%;
     height: 58px;
     margin-top: 10px;
     float: left;
     border-radius: 5px;
     background-color: rgb(187,173,160);
     font-size: 25px;
     color: #FFFFFF;
}
