.game-container{
     margin: auto;
     width: 500px;
     height: 500px;
     padding-top: 15px;
     padding-left: 15px;
     padding-bottom: 15px;
     background: rgb(187,173,160);
     border-radius: 7px;
     line-height: 500px;
}

.game-container-finish{
     width: 500px;
     height: 500px;
     padding-top: 15px;
     padding-left: 15px;
     padding-bottom: 15px;
     background: rgb(187,173,160);
     border-radius: 7px;
     line-height: 150px;
     font-size: 70px;
     position: absolute;
     text-align: center;
     margin-left: -15px;
     margin-top: -15px;
     opacity: 0.6;
}

.game-container-row{
     float: left;
     margin: auto;
     margin-bottom: 15px;
}

.game-container-cell{
     float: left;
     margin-right: 15px;
     margin-bottom: 15px;
     line-height: 106px;
     width: 106px;
     height: 106px;
     background: rgb(205,193,180);
     border-radius: 3px;
}

.game-container-cell-digit{
     float: left;
     margin-right: 15px;
     margin-bottom: 15px;
     width: 106px;
     height: 106px;
     line-height: 106px;
     background: rgb(238,228,218);
     border-radius: 3px;
     text-align: center;
     font-weight: bold;
     font-size: 60px;
     opacity: 0.9;
}

.btn-game{
     font-size: 30px;
}

.game-container-results{
     text-align: center;
     margin-left: 5px;
     width: 48%;
     float: left;
     border-radius: 5px;
     background-color: rgb(187,173,160);
}

.game-container-results-title{
     padding-top: 5px;
     padding-bottom: 5px;
     font-size: 15px;
     color: rgb(238,228,218);
     font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.game-container-results-value{
     padding-top: 5px;
     padding-bottom: 5px;
     font-size: 20px;
     color: #FFFFFF;
     font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.game-container-results-button{
     text-align: center;
     width: 100%;
     height: 58px;
     margin-top: 10px;
     float: left;
     border-radius: 5px;
     background-color: rgb(187,173,160);
     font-size: 25px;
     color: #FFFFFF;
}

.game-container-results-button-finish{
     text-align: center;
     width: 60%;
     margin-top: 10px;
     border-radius: 5px;
     background-color: rgb(238,228,218);
     color: #000000;
}

/*data-digits*/

.game-container-cell-digit[data-digit='4']{
     background: #ede0c8; color: #000000;
}

.game-container-cell-digit[data-digit='8']{
     background: #f2b179; color: #FFFFFF;
}

.game-container-cell-digit[data-digit='16']{
     background: #f59563; color: #FFFFFF;
}

.game-container-cell-digit[data-digit='32']{
     background: #f67c5f; color: #FFFFFF;
}

.game-container-cell-digit[data-digit='64']{
     background: #f65e3b; color: #FFFFFF;
}

.game-container-cell-digit[data-digit='128']{
     background: #edcf72; color: #FFFFFF; font-size: 50px;
}

.game-container-cell-digit[data-digit='256']{
     background: #edcc61; color: #FFFFFF; font-size: 50px;
}

.game-container-cell-digit[data-digit='512']{
     background: #edc850; color: #FFFFFF; font-size: 50px;
}

.game-container-cell-digit[data-digit='1024']{
     background: #edc53f; color: #FFFFFF; font-size: 40px;
}

.game-container-cell-digit[data-digit='2048']{
     background: #edc22e; color: #FFFFFF; font-size: 40px;
}

.game-container-cell-digit[data-digit='4096']{
     background: #3d3a33; color: #FFFFFF; font-size: 25px;
}
